/libyandex-db-perl.prerm.debhelper
/libyandex-ppb-db-perl.substvars
/libyandex-db-perl.postinst.debhelper
/files
/libyandex-db-perl.substvars
/tmp
/libyandex-ppb-db-perl
/libyandex-db-perl.postrm.debhelper
/libyandex-db-perl
